@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\000036}}
.page:nth-child(0) {
  background: white;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\000036}}
.page:nth-child(1) {
  background: white;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\000036}}
.page:nth-child(2) {
  background: white;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\000036}}
.page:nth-child(3) {
  background: white;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\000036}}
.page:nth-child(4) {
  background: white;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\000036}}
.page:nth-child(5) {
  background: white;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000312}}
body {
  font-family: "Poppins", sans-serif, "EDITORIAL";
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000317}}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000220;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000324}}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 2em;
  background-color: #000220;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000332}}
.catalog {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000338}}
.project {
  overflow-y: none;
  margin-bottom: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000343}}
.sidepanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000350}}
.sidepanel a {
  list-style: none;
  text-decoration: none;
  margin-right: 20px;
  color: #ffffff;
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000360}}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000366}}
.icons a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  margin-right: 10px;
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000374}}
.list_menu a:nth-child(4) {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000378}}
.icons a:hover {
  color: #ff459c;
  transition: 0.5s;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000384}}
.icon {
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000388}}
.container {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000394}}
.wrapp {
  padding-top: 4em;
  padding-left: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\0000399}}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10em 10em;
  background-color: #f7f7f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003107}}
.info img {
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003111}}
blockquote {
  font-family: "EDITORIAL";
  font-size: 30px;
  font-style: italic;
  padding-left: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003118}}
cite {
  margin-top: 0.2em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003126}}
.blockquote p {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003130}}
.desc {
  width: 40%;
  margin-left: 4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003137}}
.desc h1 {
  color: #000220;
  margin-bottom: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003142}}
.description {
  margin-left: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003146}}
.description p {
  margin: 0;
  margin-top: 0.2em;
  padding-right: 2em;
  margin-left: 0.2em;
  line-height: 1.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003154}}
.description:nth-child(1) {
  margin-right: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003158}}
.description h1 {
  color: #000220;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003162}}
h1 {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 50px;
  color: #d7d7d7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003169}}
.title {
  margin-bottom: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003173}}
.profi p {
  margin-top: 0;
  margin-left: 0.5em;
  margin-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003179}}
p {
  margin: 0;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  line-height: 1.8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003187}}
.services {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 10em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003197}}
.services_folio {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003203}}
.profi {
  margin-top: 5em;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 20em;
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003211}}
.description ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003216}}
.list-с {
  width: 100vh;
  height: 100vh;
  scroll-behavior: smooth;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003222}}
.list_skills {
  margin-bottom: 20em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003226}}
ul.list_skills {
  color: #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-top: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003235}}
.list_skills li {
  list-style: none;
  border-bottom: #3f4252 1px solid;
  margin-bottom: 1em;
  margin-left: 10em;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003243}}
.list_number {
  margin-right: 1em;
  color: #43485e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003248}}
.list-icons {
  padding: 0;
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003254}}
.skill {
  display: flex;
  align-items: center;
  color: #d7d7d7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003260}}
.skill p {
  font-size: 22px;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003265}}
.arrow {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #43485e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003272}}
.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
  padding-bottom: 6em;
  padding-right: 6em;
  padding-left: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003282}}
.social_2 {
  display: flex;
  align-items: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003287}}
.social_2 a:nth-child(1) {
  padding-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003291}}
.social p {
  font-size: 14px;
  color: #43485e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003296}}
.cat-y {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003302}}
.cat-y li {
  padding-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003306}}
.sidepanel {
  display: block;
  position: fixed;
  height: 1250px;
  /* Укажите высоту */
  width: 0;
  /* 0 ширина-измените это с помощью JavaScript */
  z-index: 1;
  /* Оставайтесь на вершине */
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: -2px 24px 18px rgba(23, 23, 23, 0.55);
  overflow-x: hidden;
  /* Отключить горизонтальную прокрутку */
  transition: 0.5s;
  /* 0.5 секунды эффект перехода для скольжения в боковой панели */
  padding-top: 150px;
}

/* Боковая панель ссылок */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003327}}
.sidepanel a {
  padding: 8px 8px 8px 80px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #1B1A1A;
  display: block;
  text-align: left;
  transition: 0.3s;
  letter-spacing: 2px;
}

/* При наведении курсора мыши на навигационные ссылки измените их цвет */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003340}}
.sidepanel a:hover {
  color: #ff459c;
  opacity: 1;
  transition: 0.5s;
}

/* Положение и стиль кнопки закрытия (верхний правый угол) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003347}}
.sidepanel .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
}

/* Стиль кнопка, которая используется для открытия боковой панели */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003356}}
.openbtn {
  display: flex;
  top: 1%;
  left: 1%;
  background-color: transparent;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  padding: 5px 5px;
  border: none;
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003369}}
.scroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  height: 100vw;
  width: 100vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003379}}
.scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003385}}
.list-с {
  width: 100vh;
  height: 100vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003390}}
footer {
  display: flex;
  justify-content: space-between;
  border-top: #22283e 0.5px solid;
  background-color: #000220;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003397}}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003404}}
.page {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003412}}
.page:first-of-type:before {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 .5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003419}}
.page:last-of-type:after {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 .5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003426}}
#extra_1 {
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotate(0);
  animation-name: extra_1;
}

@keyframes extra_1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003445}}
form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-left: 8em;
  margin-top: 2em;
  margin-bottom: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003457}}
form p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 10em;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 33px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003471}}
form input {
  color: #2370b9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003475}}
form input:last-child {
  margin-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003479}}
input[type="text"],
[type="email"] {
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
  margin-bottom: 15px;
  padding: 15px 22px;
  width: 100%;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  background-color: #f7f7f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003492}}
textarea[name="text"] {
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 15px 22px;
  width: 100%;
  border: 1px solid #c2c2c2;
  resize: vertical;
  border-radius: 10px;
  background-color: #f7f7f7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003505}}
input::placeholder {
  color: #c2c2c2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003509}}
textarea::placeholder {
  color: #c2c2c2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003513}}
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1A62A4;
  border: 1px solid #1A62A4;
  border-radius: 16px;
  padding: 18px 44px;
  margin-bottom: 110px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003534}}
input:hover[type="submit"] {
  box-sizing: border-box;
  background-color: #1A62A4;
  color: #ffffff;
  transition: 0.7;
  transform: scale(1);
  transition-duration: 0.5s;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003544}}
textarea:focus {
  outline: 1px solid #1A62A4;
  color: #1B1A1A;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003549}}
input:focus[type="text"],
input:focus[type="email"] {
  outline: 1px solid #1A62A4;
  color: #1B1A1A;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003555}}
.order {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border: none;
  margin-top: 30px;
  padding: 18px 38px;
  background: linear-gradient(90deg, #9507a5 35%, #ff459c 100%);
  border-radius: 5px;
  color: #f7f7f7;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003568}}
.page:nth-child(1) {
  background-image: url(../images/front.jpg);
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003573}}
.page:nth-child(2) {
  background-image: url(../images/profinit.jpg);
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003578}}
.page:nth-child(3) {
  background-image: url(../images/it.jpg);
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003583}}
.page:nth-child(4) {
  background-image: url(../images/res.jpg);
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003588}}
.page:nth-child(5) {
  background-image: url(../images/onehund.jpg);
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003593}}
.bg_item {
  margin-right: 4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003597}}
.bg_list {
  margin-left: 4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003601}}
.cards {
  margin-top: 10em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003605}}
.cards a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003609}}
.cards svg:nth-child(1) {
  margin-right: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003613}}
.cards svg:nth-child(2) {
  margin-left: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/test\/main_website\/sass\/main\.scss}line{font-family:\00003617}}
.cards h2 {
  font-size: 18px;
  color: #d7d7d7;
  text-transform: uppercase;
  padding-top: 1.5em;
}

/*# sourceMappingURL=main.css.map */
